
<main>
    <div class="card-glass">
    <h1>Entrar na Conta</h1>
     <form>
      <label>CPF</label>
      <div class="input-wrapper">
        <i class="fa fa-id-card"></i>
        <input type="text" name="cpf" placeholder="Informe o CPF" />
      </div>

      <label>Senha</label>
      <div class="input-wrapper">
        <i class="fa fa-lock"></i>
        <input type="password" name="senha" placeholder="Informe a Senha" />
      </div>

      <button class="button" >Conectar</button>

      <p class="login-text">
        Não possui conta?
        <a routerLink="/cadastro-usuario">Crie uma aqui</a>
      </p>
    </form>
   </div>
</main>

