main {
  display: flex;
  width: 100%;
  height: 100vh;
   background: linear-gradient(135deg, #1C3A4C 0%,#27303f 50%, #1C3A4C 100%);

}

.card-glass {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  max-width: 400px;
  max-height: 420px;
  margin: auto;
  align-items:center;
  justify-content:center;
  backdrop-filter: blur(12px) saturate(160%);
  -webkit-backdrop-filter: blur(12px) saturate(160%);
  background-color:rgba(44, 44, 44,0.15); /* vidro mais translúcido e leve */
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 20px 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

  h1{
    color:#E6C87A;
    font-weight: 700;
    margin-top: 1rem;
  }
  form {
    display:flex;
    flex-direction:column;
    width: 100%;
    height: 100%;
    /* align-items:center; */
    justify-content:center;
    gap: 5px;

    label {
      color: #C2B280;
      font-weight: 500;
      font-size: 20px;
      width: 170px;
      float: left;
    }

    .input-wrapper {
      position: relative;
      width: 90%;

       & > input {
        background-color: rgba(34, 38, 48, 0.9);
        padding: 12px 0;
        outline: none;
        width: 100%;
        color: #f1f1f1;
        border-radius: 0.5rem;
        border: 2px solid #3c4357;
        transition: all 0.2s ease;
        font-size: 17px;
      }

      & > input:focus {
        border-color: #5c7dff;
        background-color: rgba(40, 44, 54, 1);
      }

    }

    .input-wrapper i {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      color: #999;
    }

    .input-wrapper input {
      padding-left: 38px; /* espaço pro ícone */
    }


    .button {
      margin-top: 1rem;
      position: relative;
      overflow: hidden;
      height: 3rem;
      padding: 0 2rem;
      border-radius: 1.5rem;
      background: linear-gradient(270deg,#D4AF37,#C2B280);
      background-size: 200%;
      color: #fff;
      border: none;
      cursor: pointer;
      transition: background-position 0.4s ease, transform 0.2s ease;
    }

    .button:hover {
      background-position: right;
      transform: scale(1.03);
    }

    .button-content {
      position: relative;
      z-index: 1;
    }

    .login-text {
      margin-top: 1rem;
      color: #ccc;
      font-size: 20px;

      a {
        color: #C2B280;
        text-decoration: underline;
        margin-left: 4px;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: #D4AF37;
        }
      }
    }
  }
}
